<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Asegúrate de que el nombre "ConexionBD" coincida con el que usas en el código -->
		<add name="ConexionBD"
			 connectionString="Server=DESKTOP-8LG08BJ\\SQLEXPRESS; Database=SistemaReparaciones; Integrated Security=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>